Flask==0.9
Jinja2==2.6
MySQL-python==1.2.4
WTForms==1.0.2
Werkzeug==0.8.3
distribute==0.6.28
-e git+http://github.com/fredj/flask-jsonify.git@5e20dd2774eb99abe354158a79dced0f9c72c9ab#egg=flask_jsonify-dev
-e git+https://github.com/ccp0101/flask-peewee.git@f4513232d34cec06febeb351f3ad7ad79d613191#egg=flask_peewee-dev
peewee==2.0.5
psycopg2==2.4.5
simplejson==3.0.3
wsgiref==0.1.2
wtf-peewee==0.2.0
