body {
  padding-top: 20px;
}
table {
  max-width: 100%;
}
td.stop-overflow, th.stop-overflow {
  max-width: 250px;
  word-wrap: break-word;
}
.overflow-scroll {
  overflow: scroll;
}
.spin-area {
  min-height: 400px;
}